{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "rules": {
      "no-unused-vars": "off",
      "no-empty-function": "off",
      "@typesctipt-eslint/ban-types": "off",
      "@typesctipt-eslint/no-unused-vars": "off",
      "@typescript-eslint/explicit-function-return-type": ["warn"],
      "@typescript-eslint/no-explicit-any": ["off"],
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "all",
          "useTabs": true,
          "tabWidth": 4,
          "semi": true,
          "singleQuote": true,
          "bracketSpacing": true,
          "printWidth": 100,
          "endOfLine": "auto"
        }
      ]
    }
  }